*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.container{
  width:60%;
  margin:auto;
  border:5px solid black;
  overflow: hidden;
}
.slides{
  display:flex;

}

.items{
  height:400px;
  flex:1 0 100%;
}

.items-1{
  background-color: #C3DFE0;
}
.items-2{
  background-color:#BCD979;
}
.items-3{
  background-color:#9DAD6F;
}
.items-4{
  background-color:#7D6D61;
}
.items-5{
  background-color:#5E574D;
}
